/* 
Charte graphique : 

Bleu #0065FC
Bleu clair #DEEBFF
Gris #F2F2F2.
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* HEADER CSS */

.logo-reservia img {
  width: 120px;
  height: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV CSS */

nav {
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  width: 35%;
}

.nav-link {
  width: 140px;
  height: 99px;
}

.nav-links a {
  font-weight: bold;
  text-decoration: none;
}

.nav-border {
  border-top: solid 1px #0065fc;
}

#accomodation-link {
  color: #0065fc;
}

#activities-link {
  color: black;
}

#register-link {
  color: #0065fc;
}

/* BODY CSS */

/* TITLE CSS */

/* FILTERS CSS */

/* SECTION CSS */

/* ASIDE CSS */

/* ACTIVITIES CSS */

/* FOOTER CSS */
