@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* GENERAL COLORS */

.grey-color {
  background-color: #f2f2f2;
}

.blue-color {
  background-color: #0065fc;
}

.light-blue-color {
  background-color: #deebff;
}

/* GENERAL FLEX */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER CSS */

.logo-reservia img {
  width: 120px;
  height: 50px;
}

/* NAV CSS */

nav {
  height: 100px;
}

.nav-links {
  width: 35%;
}

.nav-link {
  width: 140px;
  height: 99px;
}

.nav-links a {
  font-weight: bold;
  text-decoration: none;
}

.nav-border {
  border-top: solid 1px #0065fc;
}

#accomodation-link {
  color: #0065fc;
}

#activities-link {
  color: black;
}

#register-link {
  color: #0065fc;
}

/* BODY CSS */

/* TITLE CSS */

.title-container h3 {
  font-weight: bold;
}

.search-container {
  width: 400px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}

.icon-size {
  width: 50px;
  height: 50px;
  border-radius: 15px 0px 0px 15px;
}

.search-input-container {
  height: 50px;
  width: 240px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-left: 13px;
  color: black;
}

.search {
  cursor: pointer;
  height: 50px;
  width: 110px;
  color: white;
  font-weight: bold;
  border-radius: 0px 15px 15px 0px;
}

/* FILTERS CSS */

/* SECTION CSS */

/* ASIDE CSS */

/* ACTIVITIES CSS */

/* FOOTER CSS */
