@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.footer-container {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2,
h4 {
  font-weight: 800;
}

/* GENERAL COLORS */

.grey-color {
  background-color: #f2f2f2;
}

.blue-color {
  background-color: #0065fc;
}

.light-blue-color {
  background-color: #deebff;
}

.grey-color-star {
  color: #f2f2f2;
}

.blue-color-star {
  color: #0065fc;
}

/* GENERAL FLEX */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-around-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flex-between-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* LOGO CSS */

header {
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-container {
  display: flex;
}

.logo-reservia-container {
  flex: 1;
  margin-top: 30px;
}

/* NAV CSS */

.nav-container {
  display: flex;
}

.ul-container {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding-top: 50px;
}

nav li a {
  padding-top: 50px;
}

nav li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 55px;
}

nav a {
  padding: 40px 30px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.register {
  color: #0065fc;
  padding: 50px 40px 0;
  font-weight: bold;
}
/* TITLE CSS */

.title-container h3 {
  font-weight: bold;
}

.search-container {
  width: 47vh;
  border-radius: 0.9vh;
  border: 1px solid #f2f2f2;
}

.icon-size {
  width: 5vh;
  height: 5vh;
  border-radius: 15px 0px 0px 15px;
}

.search-input-container {
  height: 5vh;
  width: 26vh;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-left: 1.5vh;
  color: black;
}

.search {
  cursor: pointer;
  height: 5vh;
  width: 16vh;
  color: white;
  font-weight: bold;
  border-radius: 0px 15px 15px 0px;
}

/* FILTERS CSS */

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container h4 {
  margin-right: 3vh;
}

.filter-margin {
  margin-top: 10px;
}

.filter-icon {
  width: 5vh;
  height: 5vh;
  border-radius: 35px;
  color: #0065fc;
  background-color: #deebff;
}

.filter-text-icon:hover > .filter-icon {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
}

.filter-text-icon:hover > .filter-text {
  color: #0065fc;
  cursor: pointer;
}

.filter-text {
  height: 5vh;
  padding: 0px 25px 0px 25px;
  font-weight: bold;
}

.filter-text-icon {
  height: 5vh;
  margin-right: 3vh;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
}

/* INFORMATIONS CSS */

.informations {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-informations {
  color: #0065fc;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  margin-right: 3px;
}

/* ACCOMODATIONS CSS */

.accomodations-marseille {
  flex: 2;
  height: 80vh;
  margin-right: 2vh;
  border-radius: 10px;
}

.accomodations-first-line {
  margin-bottom: 15px;
}

.accomodations-block {
  padding: 0px 40px 0px 40px;
}

.accomodation {
  background-color: white;
  width: 30%;
  height: auto;
  padding: 3px;
  border-radius: 20px;
}

.accomodation:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.accomodation-desc {
  width: 90%;
}

.accomodation-desc h4 {
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 18px;
}

.accomodation-desc p {
  margin-bottom: 7px;
  font-size: 17px;
}

.accomodation-stars {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* MOST POPULAR CSS */

.most-popular-marseille {
  flex: 1;
  height: 80vh;
  margin-left: 2vh;
  border-radius: 10px;
}

.most-popular-block {
  padding-left: 40px;
  padding-right: 40px;
}

.most-popular {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1% 0% 1% 1%;
  border-radius: 20px;
  height: auto;
  width: 550px;
}

.most-popular:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.most-popular-first-two {
  margin-bottom: 20px;
}

.most-popular-desc {
  font-size: 17px;
  padding-left: 20px;
  padding-top: -20px;
  width: 30%;
}

.most-popular-desc h4 {
  margin-top: -50px;
  margin-bottom: -10px;
}

.most-popular-stars {
  font-size: 13px;
}

/* ACCOMODATIONS IMAGES PROPERTIES */

.img-auberge-cannebiere {
  background-image: url("../assets/hebergements-marseille/auberge-la-cannebiere.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-du-port {
  background-image: url("../assets/hebergements-marseille/hotel-du-port.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-les-mouettes {
  background-image: url("../assets/hebergements-marseille/hotel-les-mouettes.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-la-mer {
  background-image: url("../assets/hebergements-marseille/hotel-la-mer.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-auberge-panier {
  background-image: url("../assets/hebergements-marseille/auberge-le-panier.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-amina {
  background-image: url("../assets/hebergements-marseille/hotel-chez-amina.jpg");
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* MOST POPULAR IMAGES PROPERTIES */

.img-hotel-soleil-matin {
  background-image: url("../assets/les-plus-populaires/hotel-soleil-du-matin.jpg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 35%;
  border-radius: 15px 0px 0px 15px;
}

.img-hotes-coeur-eau {
  background-image: url("../assets/les-plus-populaires/hotes-au-coeur-de-leau.jpg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 35%;
  border-radius: 15px 0px 0px 15px;
}

.img-hotel-bleu-blanc {
  background-image: url("../assets/les-plus-populaires/hotel-tout-bleu-et-blanc.jpg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 35%;
  border-radius: 15px 0px 0px 15px;
}

/* ACTIVITIES CSS */

.activities {
  margin-top: 50px;
  margin-bottom: 50px;
}

.activities-block {
  height: 600px;
  width: 100%;
}

.activities-block-smalls {
  height: 600px;
  width: 23%;
}

.activity {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activity:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.activity-smalls {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activity-smalls:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.activity-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  padding-left: 5%;
}

/* ACTIVITIES IMAGES PROPERTIES */

.img-vieux-port {
  background-image: url("../assets/activites-marseille/vieux-port.jpg");
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-fort-pomegues {
  background-image: url("../assets/activites-marseille/fort-pomegues.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-iles-frioul {
  background-image: url("../assets/activites-marseille/iles-frioul.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-parc-calanques {
  background-image: url("../assets/activites-marseille/parc-calanques.jpg");
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-notre-dame-garde {
  background-image: url("../assets/activites-marseille/notre-dame-garde.jpg");
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-parc-longchamp {
  background-image: url("../assets/activites-marseille/parc-longchamp.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

/* FOOTER CSS */

.footer-container {
  height: 210px;
}

.footer-desc {
  height: 150px;
}

.about-desc {
  margin-left: 2%;
}

.help-desc {
  margin-right: 25%;
}

.footer-desc a {
  color: black;
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
}

/* RESPONSIVE PROPERTIES */

/* MOBILE RESPONSIVE PROPERTIES */
@media only screen and (max-width: 767px) {
  header {
    margin: 0;
    flex-direction: column;
  }

  body {
    margin-right: auto;
  }

  nav {
    order: 3;
  }

  nav ul {
    width: 100%;
  }

  nav li {
    width: 50%;
    text-align: center;
    padding: 10px 0;
  }

  nav li a:hover {
    border-top: none;
    border-bottom-color: #0065fc;
  }

  .register {
    position: relative;
    align-self: flex-end;
    padding: 0;
    margin: 0px 20px 0px 0px;
    bottom: 30px;
  }

  .logo-reservia-container {
    margin-left: 20px;
  }

  /* FILTERS RESPONSIVE MOBILE */
  .filter-mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-text-icon {
    margin-bottom: 10px;
  }

  .filter-text-icon:hover > .filter-icon {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
  }

  .filter-text-icon:hover > .filter-text {
    color: #0065fc;
    cursor: pointer;
  }

  /* MOST POPULAR RESPONSIVE MOBILE */

  .most-popular {
    width: 90%;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px #f2f2f2;
  }

  .most-popular-marseille {
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 0px;
    margin-left: 0;
    width: 100%;
  }

  .most-popular-title {
    padding-left: 10px;
  }

  .most-popular-desc {
    width: 48%;
    padding-top: 50px;
  }

  .most-popular-desc p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .most-popular-stars {
    padding-top: 25px;
  }

  /* ACCOMODATIONS RESPONSIVE MOBILE */

  .accomodations-all {
    flex-direction: column-reverse;
  }

  .accomodations-marseille {
    margin-top: 30px;
    background: none;
    height: auto;
    margin-right: 0;
    width: 100%;
  }

  .accomodations-block {
    margin-top: 40px;
    padding: 0;
    margin-bottom: 30px;
  }

  .accomodation {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px 1px #f2f2f2;
  }

  .accomodation-desc {
    min-height: auto;
    margin-right: 20px;
  }

  .accomodation-stars {
    font-size: 15px;
  }

  .accomodations-first-line {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .accomodations-second-line {
    flex-direction: column;
    margin-top: 0px;
  }

  .activities-block {
    flex-direction: column;
    height: auto;
  }

  .activity {
    width: 100%;
    margin-bottom: 25px;
  }

  .activity-smalls {
    margin-bottom: 25px;
  }

  .activities-block-smalls {
    width: 100%;
    height: auto;
  }

  .img-vieux-port,
  .img-fort-pomegues,
  .img-iles-frioul,
  .img-parc-calanques,
  .img-notre-dame-garde,
  .img-parc-longchamp {
    height: 125px;
  }

  footer {
    width: 110%;
    margin-left: -10px;
  }

  .footer-container {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-desc {
    margin-left: 20px;
  }

  .about-desc {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .help-desc {
    margin-right: 0px;
    margin-top: -10px;
  }
}
