@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

/* GENERAL COLORS */

.grey-color {
  background-color: #f2f2f2;
}

.blue-color {
  background-color: #0065fc;
}

.light-blue-color {
  background-color: #deebff;
}

/* GENERAL FLEX */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-around-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flex-between-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* LOGO CSS */

.logo-reservia img {
  width: 13vh;
  height: 6vh;
}

/* NAV CSS */

nav {
  height: 12vh;
}

.nav-links {
  width: 35%;
}

.nav-link {
  width: 15vh;
  height: 10vh;
}

.nav-links a {
  font-weight: bold;
  text-decoration: none;
}

.nav-border {
  border-top: solid 1px #0065fc;
}

#accomodation-link {
  color: #0065fc;
}

#activities-link {
  color: black;
}

#register-link {
  color: #0065fc;
}

/* TITLE CSS */

.title-container h3 {
  font-weight: bold;
}

.search-container {
  width: 47vh;
  border-radius: 0.9vh;
  border: 1px solid #f2f2f2;
}

.icon-size {
  width: 5vh;
  height: 5vh;
  border-radius: 15px 0px 0px 15px;
}

.search-input-container {
  height: 5vh;
  width: 26vh;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-left: 1.5vh;
  color: black;
}

.search {
  cursor: pointer;
  height: 5vh;
  width: 16vh;
  color: white;
  font-weight: bold;
  border-radius: 0px 15px 15px 0px;
}

/* FILTERS CSS */

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container h4 {
  margin-right: 3vh;
}

.filter-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.filter-icon {
  width: 5vh;
  height: 5vh;
  border-radius: 35px;
  color: #0065fc;
  background-color: #deebff;
}

.filter-text-icon:hover > .filter-icon {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
}

.filter-text-icon:hover > .filter-text {
  color: #0065fc;
  cursor: pointer;
}

.filter-text {
  height: 5vh;
  padding: 0px 25px 0px 25px;
  font-weight: bold;
}

.filter-text-icon {
  height: 5vh;
  margin-right: 3vh;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
}

/* INFORMATIONS CSS */

.informations {
  display: flex;
  align-items: center;
}

.icon-informations {
  color: #0065fc;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 2px solid #f2f2f2;
}

/* ACCOMODATIONS CSS */

.accomodations-marseille {
  flex: 2;
  height: 85vh;
  margin-right: 2vh;
  border-radius: 10px;
}

.accomodations-first-line {
  margin-bottom: 15px;
}

.accomodations-block {
  padding: 0px 40px 0px 40px;
}

.accomodation {
  background-color: white;
  width: 27%;
  height: auto;
  padding: 1%;
  border-radius: 20px;
}

.accomodation:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.accomodation-desc {
  width: 90%;
}

/* MOST POPULAR CSS */

.most-popular-marseille {
  flex: 1;
  height: 85vh;
  margin-left: 2vh;
  border-radius: 10px;
}

.most-popular-block {
  padding-left: 20px;
  padding-right: 20px;
}

.most-popular-blocks {
  padding-top: 10px;
}

.most-popular {
  background-color: white;
  padding: 1% 0% 1% 1%;
  border-radius: 20px;
  height: auto;
}

.most-popular:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.most-popular-first-two {
  margin-bottom: 20px;
}

.most-popular-desc {
  width: 60%;
  padding-left: 10%;
}

/* ACCOMODATIONS IMAGES PROPERTIES */

.img-auberge-cannebiere {
  background-image: url('../assets/hebergements-marseille/auberge-la-cannebiere.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-du-port {
  background-image: url('../assets/hebergements-marseille/hotel-du-port.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-les-mouettes {
  background-image: url('../assets/hebergements-marseille/hotel-les-mouettes.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-la-mer {
  background-image: url('../assets/hebergements-marseille/hotel-la-mer.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-auberge-panier {
  background-image: url('../assets/hebergements-marseille/auberge-le-panier.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.img-hotel-amina {
  background-image: url('../assets/hebergements-marseille/hotel-chez-amina.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* MOST POPULAR IMAGES PROPERTIES */

.img-hotel-soleil-matin {
  background-image: url('../assets/les-plus-populaires/hotel-soleil-du-matin.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 30%;
  border-radius: 15px 0px 0px 15px;
}

.img-hotes-coeur-eau {
  background-image: url('../assets/les-plus-populaires/hotes-au-coeur-de-leau.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 30%;
  border-radius: 15px 0px 0px 15px;
}

.img-hotel-bleu-blanc {
  background-image: url('../assets/les-plus-populaires/hotel-tout-bleu-et-blanc.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 30%;
  border-radius: 15px 0px 0px 15px;
}

/* ACTIVITIES CSS */

.activities {
  margin-top: 50px;
  margin-bottom: 50px;
}

.activities-block {
  height: 600px;
  width: 100%;
}

.activities-block-smalls {
  height: 600px;
  width: 23%;
}

.activity {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activity:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.activity-smalls {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activity-smalls:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.activity-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  padding-left: 5%;
}

/* ACTIVITIES IMAGES PROPERTIES */

.img-vieux-port {
  background-image: url('../assets/activites-marseille/vieux-port.jpg');
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-fort-pomegues {
  background-image: url('../assets/activites-marseille/fort-pomegues.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-iles-frioul {
  background-image: url('../assets/activites-marseille/iles-frioul.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-parc-calanques {
  background-image: url('../assets/activites-marseille/parc-calanques.jpg');
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-notre-dame-garde {
  background-image: url('../assets/activites-marseille/notre-dame-garde.jpg');
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-parc-longchamp {
  background-image: url('../assets/activites-marseille/parc-longchamp.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

/* FOOTER CSS */

.footer-container {
  height: 210px;
}

.footer-desc {
  height: 150px;
}

.about-desc {
  margin-left: 2%;
}

.help-desc {
  margin-right: 25%;
}

.footer-desc a {
  color: black;
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
}
